<h1>Listing managers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
  </tr>

<% @managers.each do |manager| %>
  <tr>
    <td><%= link_to manager.name.titleize, manager.website %></td>
    <td><%= link_to 'Show', manager %></td>
  </tr>
<% end %>
</table>

<br />

