<p>
  <b>Name:</b>
  <%=h @manager.name.titleize %>
</p>

<p>
  <b>Website:</b>
  <%=link_to @manager.website, @manager.website %>
</p>


<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>